*.pth
*.pt
predictions.json
pretrained/
events*
summary/

*.png
*.jpg

# dataset download
TinyPerson-v5-Down.ipynb
data/coco/
datasets/

coco.yaml

# # paddle
# *.pdema
# *.pdopt
# *.pdparams
# *.pdmodel
# *.pdiparams
# *.pdiparams.info

*.zip

*.engine
*.onnx
*.trt

*.pyc
*.out